:root {
  --success: #4CAF50;
  --fail: #E53935;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#banner {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
  transition: top 0.5s ease;
  z-index: 1000;
}

.input-container {
  text-align: center;
  margin-top: 20px;
}

#userInput {
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
}

.text-below {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}